@import "bootstrap";

body {
  margin-top: 70px;
}

// navbar styling
.navbar {
    background: #08c3d2;
}

.navbar-header a.navbar-brand {
  color: #ff0000;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 150%;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ff0000;
  background-color: #0be0ef;
  font-size: 120%;
  padding-top: 25px;
  padding-bottom: 30px;
}

.navbar-header a.navbar-brand:hover {
  color: #ffffff;
}

 // Forms styling
.panel-div {
  margin-top: 30px;
}

.form-heading {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 200%;
}
